<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.nectarframework.org">

<head th:fragment="head">
<title th:text="#{common.title}">Nectar Framework</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" media="all"
	href="../fileservice_root/s/style.css" th:href="@{/s/style.css}"/>
<script type="text/javascript" src="../fileservice_root/s/script.js"
	th:src="@{/s/script.js}"></script>
<script
	src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;skin=default&amp;lang=css"
	defer="defer"></script>
</head>
<body>

bla
</body>
</html>