<html>

<head>
<title>Nectar Framework</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<link rel="stylesheet" type="text/css" media="all" href="/s/style.css"></link>
<script type="text/javascript" src="/s/script.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&skin=default&lang=css" defer="defer"></script>
</head>

<body onload="main.load()">
	<div class="wrap">
		<div class="header">
		<div class="title"><img class="title" src="/s/icon_bird_black.png" height="24" width="24"></img><span>Nectar Framework</span></div>
		<div class="slogan">a simple and stupidly fast web application framework for massively scalable applications</div>
	</div>
		<div class="navbar">
		<img class="navbar" src="/s/icon_home.png" height="24" width="24"></img><a class="navbar" href="/">Home</a>
		<img class="navbar" src="/s/icon_overview.png" height="24" width="24"></img><a class="navbar" href="/overview">Overview</a>
		<img class="navbar" src="/s/icon_documentation.png" height="24" width="24"></img><a class="navbar" href="/documentation">Documentation</a>

		<img class="navbar" src="/s/icon_download.png" height="24" width="24"></img><a class="navbar" href="/download">Download</a>

		<img class="navbar" src="/s/icon_about.png" height="24" width="24"></img> <a class="navbar" href="/about">About</a>
	</div>

		<div class="content">
			<h2>What is Nectar Framework?</h2>

			<p>
				<b>Nectar Framework is a Web Applications Framework written in
					Java.</b> It is based on Model-View-Controller push-based architecture,
				and it's core services include an HTTP Server, a MySQL database
				connector, a data scaffolding / abstraction layer, a caching
				service, a thread management service. It is designed to be both
				strict and light-weight, which allows for great performance and
				scalability.
			</p>
			
			
			<div class="blog">
				<div class="blogHeader">PathFinderService to replace Directory, and a new HTTP Service.</div>
				<div class="blogByline"><span>19 Jul 2016 02:17</span> by
				<span>schuttek</span></div>
				<div class="blogMessage">DirectoryService was getting overgrown, and no longer adequate. <br/>&nbsp;<br/>

So I converted a lot of the relevant stuff to the new PathFinderService, and fixed a lot of things in how it's config file works. pathConfig.xml looks a little different, and now support virtual hosts, HTTP redirects, etc. 
<br/>&nbsp;<br/>
In the process, Simple HTTP's API was too complex... I went even more basic, and took in NanoHTTPD... which I aggressively rewrote.  
<br/>&nbsp;
So we're well on the way to the roadmap to 0.0.5, while having skipped a few steps in between... :(

</div>
			</div><div class="blog">
				<div class="blogHeader">New TemplateService!</div>
				<div class="blogByline"><span>14 Jul 2016 19:13</span> by
				<span>schuttek</span></div>
				<div class="blogMessage">A new experimental TemplateService is out! It will hopefully eventually replace XSLT and Thymeleaf, which I always found to be pretty slow.<br/>
&nbsp;<br/>
This new TemplateService actually converts an HTML template into a Java class that is compiled before server startup. The execution time is almost trivial, since all the class does at run time is traverse the action output Element and print some strings to an ByteArrayOutputStream. First tests show an execution of under 200 microseconds, so 1000x faster than Thymeleaf, and 300x faster than XSLT.<br/>
&nbsp;<br/>
The current TemplateService is only very basic at the moment, but it will be fleshed out over time.</div>
			</div><div class="blog">
				<div class="blogHeader">Finally something published</div>
				<div class="blogByline"><span>7 Jul 2016 19:51</span> by
				<span>schuttek</span></div>
				<div class="blogMessage">It took 12 years since the last time I've published a version of Nectar. The original is still on <a href="https://sourceforge.net/projects/nectar/">Sourceforge</a>.<br/>
&nbsp;<br/>
Hopefully there will be more to come, especially on the Documentation side of things, which is currently mostly a messy construction site.</div>
			</div>
			
		</div>

		<div class="sidebar">
		<p>Nectar Framework uses</p>
		<p>
			- <a href="http://www.simpleframework.org">Simple Framework HTTP Server</a><br></br>
			- <a href="http://hbase.apache.org/">Apache Hbase database</a><br></br> -
			<a href="http://www.thymeleaf.org/">Thymeleaf template engine</a><br></br>
			- <a href="https://maven.apache.org/">Maven build system</a><br></br> - <a href="https://xerces.apache.org/xerces2-j/">Apache Xerces2 XML Parser</a>
		</p>
	</div>
		<div class="footer">
		(c)2003-2016 nectarframework.org (schuttek@gmail.com) - LGPL v3 - <a href="/download">Download</a>
		<a href="/about">About</a>
	</div>

	</div>
</body>
</html>